/target
**/*.rs.bk
.vs/
.idea/
*.dll
*.exp
*.lib
**/node_modules
vscode-extension/terapascal/dist
*.vsix
flamegraph.svg
backend_cil/terapascal2cil/bin
backend_cil/terapascal2cil/obj
*.DotSettings.user
